@import "styles/controls";
@import "styles/modal";



html {
    box-sizing: border-box;
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
    font-family: 'Merienda', cursive, sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
    outline: none;
    overflow: auto;
}
