@import "styles/material-theme";
@import "styles/controls";


body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    box-sizing: border-box;
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    outline: none;
}
